@model Youtube2.Model.Profile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrLikesT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrLikesT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrDislikesT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrDislikesT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrSubscribers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrSubscribers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subscription.SubscriptionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
