@model IEnumerable<Youtube2.Model.CommentVideo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrLikes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrDislikes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Videos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrLikes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrDislikes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Videos.VideosId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentVideoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommentVideoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CommentVideoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
